body {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #832C65;
  
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

button {
  background: #42002B;
  color: white;
  border-radius: .5rem;
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: .2rem;
  border: none;
  box-shadow: 2px 2px 2px 0px black;
}

.main-container{
  text-align:center;
  background: #C583AE;
  margin: .5rem 1rem .5rem 1rem;
  padding: .5rem 3rem .3rem 3rem;
  border-radius: 1rem;
}

.row-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.column-container{
  background: white;
  border-radius: .5rem;
  padding: .3rem;
  margin: 1rem;
  display:flex;
  flex-direction:column;
}

.text-box{
  font-size:1.2rem;
  text-align:left;
}
